localhost:81 {
  status 200 /status
}

{{ $backends := .Backends }}

{{/* HealthCheck  */}}
{{ .HealthzHost }}:{{ .HealthzPort }} {
  status 200 {{ .HealthzPath }}
}

{{ range $indexServer, $server := .Servers }}
  {{ $host := $server.Hostname | cleanHostname }}
  {{ if ne $host "" }}
    {{ range $indexLocation, $location := $server.Locations }}
      {{ $host }}{{ $location.Path }} {
        log / /var/log/caddy/access.log "{common} {host} {latency_ms}"
        tls ryan@arctype.co

        {{ $location.ConfigurationSnippet }}

        proxy / {
          policy round_robin
          header_upstream X-Forwarded-For {remote}
          header_upstream X-Forwarded-Host {host}
          header_upstream Host {host}
          header_upstream Referer {>Referer}
          websocket

          {{ range $indexBackend, $backend := $backends }}
          {{ if eq $backend.Name $location.Backend }}
          {{ range $indexEndpoint, $endpoint := $backend.Endpoints }}
          upstream {{ $endpoint.Address }}:{{ $endpoint.Port }}
          {{ end }}
          {{ end }}
          {{ end }}
        }
      }
    {{ end }}
  {{ end }}
{{ end }}
